Needs and opportunities include (demonstration) … 

In terms of the schedule to be assessed …. Financial feasibility in this project is attainable in its ….

Requirements generated, taking into consideration the functionality and performance, … 

Data structures
- 
- 
- 
- 


Data types
- 
-
- 
- 


Boundaries are defined as …

